<div class="title"><%= t('jaribio.actions.associate', :default => 'Associate') %> <%= t('jaribio.objects.cases', :default => 'Cases') %></div>
<%= render :partial => "partials/search" %>
<div class="inner">
  <%= render :partial => "test_cases/test_case_list", :locals => { :test_cases => @new_cases } %>
</div>
