<table class="table">
  <tr>
    <th><%= t('jaribio.suites.name', :default => 'Name') %></th>
    <th><%= t('jaribio.suites.created_by', :default => 'Created By') %></th>
    <th class="last"></th>
  </tr>
  <% partial_name = defined?(menu) ? menu : 'partials/item_menu' %>
  <%= render :partial => 'suites/suite', :collection => suites, :locals => { :menu => partial_name } %>
</table>
