<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <h2 class="title">Suites</h2>
    <div class="inner">
        <table class="table">
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        <% cnt = 0 %>
        <% @suites.each do |suite| %>
          <% cnt += 1 %>
          <tr class="<%= (cnt % 2 == 0) ? "even" : "odd" %>">
            <td><%= suite.name %></td>
            <%= render :partial => "partials/item_menu", :locals => { :item => suite } %>
          </tr>
        <% end %>
        </table>
    </div>
  </div>
</div>
