/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.content .search {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
td.checkbox {
  width: 20px;
}
.table {
  display: table;
  margin-bottom: 0px;
}
.tr {
  display: table-row;
}
.th {
  display: table-cell;
  background-color: #EAEAEA;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.td {
  display: table-cell;
  border-bottom-color: #EAEAEA;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.pass {
  color: green;
}
.fail {
  color: red;
}
.unknown {
}
.group input[type="radio"] {
  margin-top: 8px;
  margin-left: 10px;
}
.suite-label {
  width: 70%;
}
.case-label {
  width: 70%;
  border-left-style: solid;
  border-left-width: 10px;
}
.case-label.fail {
  border-left-color: red;
}
.case-label.pass {
  border-left-color: green;
}
.case-label.unknown {
  border-left-color: yellow;
}
.case-details {
  display: none;
}
.group button {
  margin-top: 5px;
  margin-left: 10px;
}
.table td.fail {
  color: red;
}
.table td.pass {
  color: green;
}
.tr.selected {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.tr.even {
  background-color: #F8F8F8;
}
.tr.odd {
}
.table.even {
  background-color: #F8F8F8;
}
#main {
  width: 100%;
}
