.tagHandler {
    width: 50%;
}

.tagHandler ul.tagHandlerContainer {
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius:    0px;
    border-radius:         0px;
    border:                1px solid #DDD;
    -webkit-box-shadow:    inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:       inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:            inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tagHandler ul.tagHandlerContainer li.tagItem {
    background-color:      #EAEAEA;
    border:                1px solid #999;
    border-radius:         4px;
    -moz-border-radius:    4px;
    -webkit-border-radius: 4px;
    text-shadow:           none;
    color:                 #333;
    position:              relative;
    padding:               3px 8px;
}

.tagHandler ul.tagHandlerContainer li.tagItem:hover {
    background-color:      #AAAAAA;
}

.tagHandler ul.tagHandlerContainer input.tagInputField {
    height: 18px;
}
