/* Override here any style defined by web-app-theme */
#footer {
  padding-top: 20px
}

.login div.right {
  width: 78%
}

.signup div div.right {
  width: 78%
}

.grouping {
  margin-bottom: 15px
}

.grouping .label {
  color: #666666;
  font-family: "MuseoSans500",helvetica,arial,sans-serif;
  font-weight: normal;
  display: block;
  font-size: 1.2em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1px;
}

.content .title {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.2em;
  color: #111111;
  font-family: "Museo700",helvetica,arial,sans-serif;
  font-weight: normal;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 0;
  margin-top: 15px;
  float: left;
}

.content .inner {
  clear: both;
}

.text_button_padding {
  float: none;
  display: inline;
  margin-right: 0px;
}
