<table class="table">
  <tr>
    <th><%= t('jaribio.pre_steps.name', :default => 'Name') %></th>
    <th class="last"></th>
  </tr>
  <%= render :partial => 'pre_step', :collection => pre_steps %>
</table>

