<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <h2 class="title">Editing pre-step</h2>
    <div class="inner">
      <%= render 'form' %>
    </div>
  </div>
</div>
