<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div class="title"><%= t('jaribio.objects.pre_steps', :default => 'Pre-Steps') %></div>
    <div class="inner">
      <%= render :partial => 'pre_step_list', :locals => { :pre_steps => @pre_steps } %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @pre_steps %>
        </div>
      </div>
    </div>
  </div>
</div>
