  <div class="group navform wat-cf">
    <button class="button" type="submit">
      <img alt="Save" src="/images/web-app-theme/icons/tick.png">
      Save
    </button>
    <span class="text_button_padding">or</span>
    <%= link_to 'Cancel', url_for(:action => 'index'), :class => "text_button_padding link_button" %>
  </div>
