<div class="group navform wat-cf">
  <%= submit_tag "Save" %>
  <span class="text_button_padding">or</span>
  <%= link_to 'Cancel', url_for(:action => 'index'), :class => "text_button_padding link_button" %>
</div>
