<%
  list_active,new_active = '',''
  case (active)
  when 'list'
    list_active='active'
  when 'new'
    new_active='active'
  end
%>
<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first <%= list_active %>"><%= link_to 'List', url_for(:action => 'index') %></li>
    <li class="<%= new_active %>"><%= link_to 'New', url_for(:action => 'new') %></li>
  </ul>
</div>
