<div class="group navform wat-cf">
  <%= link_to t('jaribio.actions.edit', :default => 'Edit'), url_for([:edit, item]) %>
  <span class="text_button_padding">or</span>
  <%= link_to 'Cancel', url_for(:action => 'index'), :class => "text_button_padding link_button" %>
</div>
