<script type="text/javascript">
$(document).ready(function () {
    $('div.dd_menu_class').click(function () {
    $('ul.dd_menu').slideToggle('medium');
    });
});
</script>
<% queries = {'none' => "All Cases (#{@total_count})",
              'automated:1' => "Automated (#{@auto_count})",
              'automated:0' => "Manual (#{@manual_count})",
   }
%>
<div class="dd_menu_button">
<div class="dd_menu_class"><%= params[:q].nil? ? queries['none'] : queries[params[:q]] %>
<span class="ui-icon ui-icon-triangle-1-s dd_menu_triangle"></span>
</div>
<ul class="dd_menu">
  <% queries.each do |key, value| %>
        <% next if key == params[:q] || (key == 'none' && params[:q].nil?) %>
        <% opts = {:controller => 'test_cases', :action => 'index'}
        unless key == 'none'
          opts[:q] = key
        end %>
        <li><%= link_to(value, opts) %> </li>
  <% end %>
</ul>
</div>
