<script type="text/javascript">
$(document).ready(function () {
    $('.dd_menu_head').click(function () {
       $('.dd_menu_opts').slideToggle('fast');
    });
    $('.dd_menu').mouseout(function (e) {
       if(e.target.id == this.id) {
          $('.dd_menu_opts').hide();
       }
    });
});
</script>
<% queries = {'none' => "All Cases (#{@total_count})",
              'automated:1' => "Automated (#{@auto_count})",
              'automated:0' => "Manual (#{@manual_count})",
   }
%>
<div class="dd_menu" id="dd_menu_full">
<div class="dd_menu_head"><%= params[:q].nil? ? queries['none'] : queries[params[:q]] %>
<span class="ui-icon ui-icon-triangle-1-s dd_menu_triangle"></span>
</div>
<ul class="dd_menu_opts">
  <% queries.each do |key, value| %>
        <% next if key == params[:q] || (key == 'none' && params[:q].nil?) %>
        <% opts = {:controller => 'test_cases', :action => 'index'}
        unless key == 'none'
          opts[:q] = key
        end %>
        <li><%= link_to(value, opts) %> </li>
  <% end %>
</ul>
</div>
