<table class="table">
  <thead>
    <tr>
      <th><%= t('jaribio.misc.key', :default => 'Key') %></th>
      <th><%= t('jaribio.misc.name', :default => 'Name') %></th>
      <th><%= t('jaribio.misc.created_by', :default => 'Created By') %></th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody id="sortable">
    <% partial_name = defined?(menu) ? menu : 'partials/item_menu' %>
    <%= render :partial => 'test_cases/test_case', :collection => test_cases, :locals => { :menu => partial_name } %>
  </tbody>
</table>
