<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <h2 class="title">Editing case</h2>
    <div class="inner">
      <%= render 'form' %>
    </div>
  </div>
</div>
<script>
$(function() {
<%= render :partial => "sortable" %>
});
</script>
