<div class="block">
  <%= render :partial => "navigation", :locals => { :active => 'new' } %>
  <div class="content">
    <h2 class="title">New case</h2>
    <div class="inner">
    <%= render 'form' %>
    </div>
  </div>
</div>
