<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'new' } %>
  <div class="content">
    <h2 class="title">New case</h2>
    <div class="inner">
      <%= render :partial => 'form', :locals => { :disabled => false } %>
    </div>
  </div>
</div>
