<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <h2 class="title">Plans</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% cnt = 0 %>
        <% @plans.each do |plan| %>
          <% cnt += 1 %>
          <tr class="<%= (cnt % 2 == 0) ? "even" : "odd" %>">
            <td><%= plan.name %></td>
            <%= render :partial => "partials/item_menu", :locals => { :item => plan } %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
